# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

.idea/

client/node_modules/
server/node_modules/

# dependencies
node_modules/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
